* {
  background-color: #23b0bd;
  font-family: "milkmango";
  font-size: 1.1em;
}

button {
  background-color: #f65b74;
  border: 0;
  border-radius: 10px;
  padding: 0.8em;
  margin: 0.8em;
  font-size: 0.8em;
}

button:hover {
  background-color: #23b0bd;
  border: 1px white solid;
  transition: 0.2s ease-in-out;
}

button:disabled:hover {
  background-color: #f65b74;
  border: 0;
}
