.endModalBackground {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 4;
  background-color: black;
  opacity: 0.95;
  line-height: 1.7;
}

.endModal {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60vw;
  height: 50vh;
  box-shadow: 0 0 1em #cccccc;
  border-radius: 10px;
  font-size: 0.8em;
  z-index: 1;
  position: relative;
  top: 5em;
  transform: translateX(33%);

  &__close {
    position: relative;
    cursor: pointer;
    width: 100%;

    img {
      position: absolute;
      top: 0.3em;
      right: 0.3em;
      width: 2vw;
      height: auto;
    }
  }

  &__msg {
    margin-top: 0.6em;
    font-size: 1.5em;

    @media screen and (max-width: 768px) {
      text-align: center;
    }
  }

  &__counterMsg {
    font-family: "studyalone";
    margin-top: 0.2em;
    margin-bottom: 0.4em;
  }

  &__btnAccueil {
    font-size: 20px;
    position: relative;
    bottom: -55%;
  }

  &__errors {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: 0.8em;

    &__errors_list {
      font-family: "studyalone";
      font-size: 0.9em;
      margin: 0;
    }
  }
}
