.homeContainer {
  display: flex;
  flex-direction: column;

  &__logos {
    display: flex;
    justify-content: space-around;
    margin-top: 2.6em;

    @media screen and (max-width: 768px) {
      flex-direction: column;
      align-items: center;
      margin-bottom: 1em;
      margin-top: 0.5em;
    }

    &__img {
      width: 20vw;
      text-align: center;
      margin-bottom: 1.5em;

      @media screen and (max-width: 768px) {
        width: 60vw;
      }

      &__text {
        font-family: "studyalone";
        font-size: 0.8em;
        text-align: center;
      }
    }

    &__img img {
      height: 25vh;
      width: 15vw;
      border-radius: 20px;

      @media screen and (max-width: 768px) {
        height: 15vh;
        width: 40vw;
      }
    }

    &__img img:hover {
      transform: scale(1.1);
      transition: 0.3s ease-in-out;
      filter: grayscale(80%);
    }
  }

  &__joke {
    text-align: center;
    font-size: 0.8em;
  }
}
