.quizByName_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5vh;
  max-height: 50%;

  &__winnerMsg {
    font-family: "starborn";
    color: #f8cd82;

    @media screen and (max-width: 768px) {
      text-align: center;
      font-size: 0.9em;
      margin-bottom: 1em;
      margin-top: 0.5em;
    }
  }

  &__questionTitle {
    margin-bottom: 0.6em;

    @media screen and (max-width: 768px) {
      text-align: center;
    }
  }

  &__departmentNumber {
    margin-bottom: 0.8em;
  }

  &__nbGoodAnswers {
    font-size: 0.9em;
    border: 1px solid;
    background-color: #f8cd82;
    margin-top: 2em;
  }

  &__answerContainer {
    display: flex;
    align-items: center;

    @media screen and (max-width: 768px) {
      flex-direction: column;
    }
  }

  &__answerContainer input {
    width: 30vw;
    font-size: 0.7em;

    @media screen and (max-width: 768px) {
      width: 60vw;
    }
  }

  &__answerContainer button {
    padding: 0.7em;
    margin: 0.7em;
    font-size: 0.7em;
  }

  &__answerContainer button:disabled:hover {
    background-color: #f65b74;
    border: 0;
  }

  &__btnStart {
    margin-bottom: 1.5em;
  }

  &__btnStartDisabled {
    margin-bottom: 1.5em;
    background-color: #23b0bd;
    border: 1px white solid;
  }
}
