// FONTS
@font-face {
  font-family: "starborn";
  src: url("../fonts/Starborn.ttf");
}

@font-face {
  font-family: "studyalone";
  src: url("../fonts/StudyAlone.otf");
}

@font-face {
  font-family: "milkmango";
  src: url("../fonts/Milk\ Mango.ttf");
}

// COLORS

$blueBack: #23b0bd;
$oldRose: #f65b74;
$beige: #f8cd82;
