.loginform {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  &__errormsg {
    color: red;
    font-family: "studyalone";
  }
}

.loginform input {
  width: 30vw;
}
