* {
  background-color: #23b0bd;
  font-family: "milkmango";
  font-size: 1.1em;
}

button {
  background-color: #f65b74;
  border: 0;
  border-radius: 10px;
  padding: 0.8em;
  margin: 0.8em;
  font-size: 0.8em;
}

button:hover {
  background-color: #23b0bd;
  border: 1px white solid;
  transition: 0.2s ease-in-out;
}

.quizByNumber_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5vh;
  max-height: 50%;
}
.quizByNumber_container__winnerMsg {
  font-family: "starborn";
  color: #f8cd82;
}
@media screen and (max-width: 768px) {
  .quizByNumber_container__winnerMsg {
    text-align: center;
    font-size: 0.9em;
    margin-bottom: 1em;
    margin-top: 0.5em;
  }
}
.quizByNumber_container__questionTitle {
  margin-bottom: 0.6em;
}
@media screen and (max-width: 768px) {
  .quizByNumber_container__questionTitle {
    text-align: center;
  }
}
.quizByNumber_container__departmentName {
  margin-bottom: 0.8em;
}
.quizByNumber_container__nbGoodAnswers {
  font-size: 0.9em;
  border: 1px solid;
  background-color: #f8cd82;
  margin-top: 2em;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 768px) {
  .quizByNumber_container__nbGoodAnswers {
    max-width: 80%;
  }
}
.quizByNumber_container__answerContainer {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .quizByNumber_container__answerContainer {
    flex-direction: column;
  }
}
.quizByNumber_container__answerContainer input {
  width: 30vw;
  font-size: 0.7em;
}
@media screen and (max-width: 768px) {
  .quizByNumber_container__answerContainer input {
    width: auto;
  }
}
.quizByNumber_container__answerContainer button {
  padding: 0.7em;
  margin: 0.7em;
  font-size: 0.7em;
}
.quizByNumber_container__answerContainer button:disabled:hover {
  background-color: #f65b74;
  border: 0;
}
.quizByNumber_container__btnStart {
  margin-bottom: 1.5em;
}
.quizByNumber_container__timer {
  font-family: "studyalone";
  color: #23b0bd;
  background-color: #ffffe0;
  border-radius: 50%;
  font-size: 0.7em;
  font-weight: bold;
  width: 55px;
  padding: 0.8em;
  text-align: center;
  margin-top: 1em;
}

.quizByName_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5vh;
  max-height: 50%;
}
.quizByName_container__winnerMsg {
  font-family: "starborn";
  color: #f8cd82;
}
@media screen and (max-width: 768px) {
  .quizByName_container__winnerMsg {
    text-align: center;
    font-size: 0.9em;
    margin-bottom: 1em;
    margin-top: 0.5em;
  }
}
.quizByName_container__questionTitle {
  margin-bottom: 0.6em;
}
@media screen and (max-width: 768px) {
  .quizByName_container__questionTitle {
    text-align: center;
  }
}
.quizByName_container__departmentNumber {
  margin-bottom: 0.8em;
}
.quizByName_container__nbGoodAnswers {
  font-size: 0.9em;
  border: 1px solid;
  background-color: #f8cd82;
  margin-top: 2em;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 768px) {
  .quizByName_container__nbGoodAnswers {
    max-width: 80%;
  }
}
.quizByName_container__answerContainer {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .quizByName_container__answerContainer {
    flex-direction: column;
  }
}
.quizByName_container__answerContainer input {
  width: 30vw;
  font-size: 0.7em;
}
@media screen and (max-width: 768px) {
  .quizByName_container__answerContainer input {
    width: 60vw;
  }
}
.quizByName_container__answerContainer button {
  padding: 0.7em;
  margin: 0.7em;
  font-size: 0.7em;
}
.quizByName_container__answerContainer button:disabled:hover {
  background-color: #f65b74;
  border: 0;
}
.quizByName_container__btnStart {
  margin-bottom: 1.5em;
}
.quizByName_container__timer {
  font-family: "studyalone";
  color: #23b0bd;
  background-color: #ffffe0;
  border-radius: 50%;
  font-size: 0.7em;
  font-weight: bold;
  width: 55px;
  padding: 0.8em;
  text-align: center;
  margin-top: 1em;
}

@font-face {
  font-family: "starborn";
  src: url("../fonts/Starborn.ttf");
}
@font-face {
  font-family: "studyalone";
  src: url("../fonts/StudyAlone.otf");
}
@font-face {
  font-family: "milkmango";
  src: url("../fonts/Milk Mango.ttf");
}
.header {
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 768px) {
  .header {
    justify-content: space-around;
    align-items: center;
  }
}
.header__logo {
  width: 15vw;
}
.header__ptInterro {
  width: 0.8em;
  position: fixed;
  top: 10px;
  right: 20px;
}
@media screen and (max-width: 768px) {
  .header__ptInterro {
    width: 0.5em;
  }
}
.header__scoresBtn {
  position: fixed;
  top: 75px;
  right: 15px;
  writing-mode: vertical-rl;
  text-orientation: upright;
  font-size: 0.7em;
  border-top: solid 1px black;
  border-bottom: solid 1px black;
  border-radius: 14px;
  padding: 0.5em;
  color: #23b0bd;
  background-color: #ffffe0;
  text-decoration: none;
}
@media screen and (max-width: 768px) {
  .header__scoresBtn {
    writing-mode: horizontal-tb;
    font-size: 0.5em;
    position: initial;
    border-radius: 10px;
  }
}
.header__scoresBtn:hover {
  background-color: #23b0bd;
  border: 1px white solid;
  transition: 0.2s ease-in-out;
  color: black;
}

.homeContainer {
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 768px) {
  .homeContainer {
    margin-top: 0.5em;
  }
}
.homeContainer__logos {
  display: flex;
  justify-content: space-around;
  margin-top: 2.6em;
}
@media screen and (max-width: 768px) {
  .homeContainer__logos {
    flex-direction: column;
    align-items: center;
    margin-bottom: 1em;
    margin-top: 0.5em;
  }
}
.homeContainer__logos__img {
  width: 20vw;
  text-align: center;
  margin-bottom: 1.5em;
}
@media screen and (max-width: 768px) {
  .homeContainer__logos__img {
    width: 60vw;
  }
}
.homeContainer__logos__img__text {
  font-family: "studyalone";
  font-size: 0.8em;
  text-align: center;
}
.homeContainer__logos__img img {
  height: 25vh;
  width: 15vw;
  border-radius: 20px;
}
@media screen and (max-width: 768px) {
  .homeContainer__logos__img img {
    height: 15vh;
    width: 40vw;
  }
}
.homeContainer__logos__img img:hover {
  transform: scale(1.1);
  transition: 0.3s ease-in-out;
  filter: grayscale(80%);
}
.homeContainer__joke {
  text-align: center;
  font-size: 0.8em;
}

.help {
  font-size: 0.6em;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 80vh;
  margin: 0.5em;
}
.help__department {
  font-family: "studyalone";
  list-style-type: none;
}

.endModalBackground {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 4;
  background-color: black;
  opacity: 0.95;
  line-height: 1.7;
}

.endModal {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60vw;
  height: auto;
  box-shadow: 0 0 1em #cccccc;
  border-radius: 10px;
  font-size: 0.8em;
  z-index: 1;
  position: relative;
  top: 3em;
  transform: translateX(33%);
}
@media screen and (max-width: 768px) {
  .endModal {
    width: 80vw;
    height: 80vh;
    transform: translateX(12%);
    top: 2em;
  }
}
.endModal__close {
  position: relative;
  cursor: pointer;
  width: 100%;
}
.endModal__close img {
  position: absolute;
  top: 0.3em;
  right: 0.3em;
  width: 2vw;
  height: auto;
}
@media screen and (max-width: 768px) {
  .endModal__close img {
    width: 5vw;
  }
}
.endModal__msg {
  margin-top: 0.6em;
  font-size: 1.5em;
}
@media screen and (max-width: 768px) {
  .endModal__msg {
    text-align: center;
    font-size: 1.3em;
    max-width: 80%;
  }
}
.endModal__counterMsg {
  font-family: "studyalone";
  margin-top: 0.2em;
  margin-bottom: 0.4em;
  text-align: center;
}
.endModal__btnAccueil {
  font-size: 20px;
  margin-top: 1em;
  margin-left: auto;
  margin-right: auto;
}
.endModal__errors {
  display: flex;
  flex-direction: column;
  font-size: 0.8em;
  align-items: center;
  margin-top: 1em;
}
.endModal__errors__errors_list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  -moz-column-gap: 2em;
       column-gap: 2em;
}
@media screen and (max-width: 768px) {
  .endModal__errors__errors_list {
    display: flex;
    flex-direction: column;
  }
}
.endModal__errors__errors_list__items {
  font-family: "studyalone";
  font-size: 0.9em;
  margin: 0;
}
.endModal__btnBottom {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin-top: 0.7em;
}
.endModal__btnBottom-save {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "studyalone";
}
.endModal__btnBottom-save p {
  font-size: 0.7em;
  font-family: "studyalone";
  font-weight: bold;
}
.endModal__btnBottom-save input {
  width: 20vw;
  height: 2.3em;
  margin-left: 0.8em;
  margin-right: 0.8em;
  font-size: 0.7em;
}
.endModal__btnBottom-save button {
  max-width: 18vw;
  font-size: 15px;
}
.endModal #nbGoodAnswers {
  font-family: "studyalone";
  font-weight: bold;
  text-decoration: underline;
}
.endModal #timeGame {
  font-family: "studyalone";
  font-weight: bold;
  color: #f65b74;
}

.jokes {
  display: flex;
  flex-direction: column;
}
.jokes__jokeQuestion {
  font-family: "studyalone";
  margin-top: 0.5em;
  font-size: 1.1em;
}
@media screen and (max-width: 768px) {
  .jokes__jokeQuestion {
    margin-top: 0;
  }
}
.jokes__askJoke {
  background-color: #23b0bd;
  border: 1px solid whitesmoke;
  padding: 0.5em;
  width: 20vw;
  margin: auto;
}
@media screen and (max-width: 768px) {
  .jokes__askJoke {
    width: 40vw;
  }
}
.jokes__askJoke:hover {
  background-color: whitesmoke;
  border: 1px solid #23b0bd;
}
.jokes__answerBtn {
  width: auto;
  padding: 0.5em;
}
.jokes__jokeAnswer {
  font-family: "studyalone";
  font-size: 1em;
}
@media screen and (max-width: 768px) {
  .jokes__jokeAnswer {
    margin-top: 0;
  }
}
.jokes__answerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.1em;
}
@media screen and (max-width: 768px) {
  .jokes__answerContainer {
    flex-direction: column;
  }
}

.loginform {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.loginform__errormsg {
  color: red;
  font-family: "studyalone";
}

.loginform input {
  width: 30vw;
}

.scores {
  font-size: 0.7em;
  display: flex;
  justify-content: space-around;
  max-width: 95%;
}
@media screen and (max-width: 768px) {
  .scores {
    flex-direction: column;
  }
}
.scores__list {
  display: flex;
  flex-direction: column;
  border-left: 1px solid black;
  padding-left: 0.5em;
}

.scores li {
  font-family: "studyalone";
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
@media screen and (max-width: 768px) {
  .scores li {
    font-size: 0.8em;
  }
}/*# sourceMappingURL=styles.css.map */